# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.1.6.0.schema.json

PackageIdentifier: {{ metadata.publisher }}.AIAutoCommit
PackageVersion: {{ metadata.version }}
DefaultLocale: en-US
ManifestType: version
ManifestVersion: 1.6.0
